.footer-widget-area {
    background-color: map-get($foundation-palette, primary);
    padding: map-get($grid-column-gutter, medium)*2 0;
    @include box-shadow(0 1px 0 #0070a0 inset);
    ul, li, p, a, label, .entry-meta {
        color: $white;
    }
    .widget-row {
        @include grid-row;
    }
    .widget {
        @include grid-column(12);
        margin-bottom: rem-calc(10);
        @include breakpoint(large) {
            @include grid-column(4);
        }
    }
    .widget-title {
        font-style: italic;
    }
    .widget-title, a {
        color: $white;
    }
    .widget_recent_entries {
        ul {
            @include no-bullet;
        }
    }
    .entry-title {
        font-size: rem-calc(18);
        margin-bottom: rem-calc(25);
        font-weight: $bold;
    }
    .entry-meta {
        font-size: rem-calc(16);
    }
    .entry-excerpt {
        font-size: rem-calc(14);
        margin-bottom: rem-calc(10);
    }
    .read-more {
        font-style: italic;
        margin-bottom: rem-calc(10);
		font-size: rem-calc(14);
    }
    .wpcf7-radio {
        @include grid-row;
        @include grid-row-nest;
        display: block;
        max-width: rem-calc(170);
        .wpcf7-list-item {
            @include grid-column(6);
            margin: 0;
        }
    }
    input {
        @include border-radius(5px);
        font-size: rem-calc(14);
        padding: rem-calc(5);
        background-color: darken(map-get($foundation-palette, primary), 10);
        border-color: darken(map-get($foundation-palette, primary), 20);
        color: $white;
        @include input-placeholder {
            color: tint(map-get($foundation-palette, primary), 90);
        }
        &:focus {
            @include box-shadow(none); 
            border-color: darken(map-get($foundation-palette, primary), 30);
            background-color: darken(map-get($foundation-palette, primary), 10);
        }
    }
    .wpcf7-checkbox {
        input[type="checkbox"] {
            float: left;
        }
        .wpcf7-list-item {
            margin: 0;
            .wpcf7-list-item-label {
                float: left;
                width: 84%;
                line-height: 1.3;
                margin-bottom: rem-calc(20);
            }
            [type='checkbox'] {
                width: 10%;
                float: left;
                @include breakpoint(large) {
                    width: rem-calc(20);
                }
            }
        }
        label {
            font-size: rem-calc(12);
        }
    }
    .wpcf7-submit {
        @include button(false, $white, darken($white, 20), $white, 'hollow');
        @include border-radius(5px);
        font-style: italic;
        float: right;
        &:hover {
            color: darken($white, 10);
            border-color: darken($white, 10);
        }

    }
    .tribe-events-list-widget {
        padding: 0;
    }
}
.footer {
    background-color: $dark-gray;
    padding: rem-calc(30) 0;
    color: $white;
    a, p, label {
        color: $white;
    }
    p {
        font-size: rem-calc(13);
        margin: 0;
    }
    .title {
        font-size: rem-calc(14);
    }
    .footer-left {
        @include grid-column;
        margin-top: rem-calc(20);
        text-align: center;
        @include breakpoint(medium) {
            @include grid-column(3);
            @include grid-col-pos(-6);
            margin-top: 0;
            text-align: left;
        }
    }
    .footer-center {
        text-align: center;
        @include grid-column;
        @include breakpoint(medium) {
            @include grid-col-pos(3);
            @include grid-column(6);
        }
        li {
            display: inline-block;
        }
    }
    .footer-menu + .social {
        margin-top: rem-calc(20);
        @include breakpoint(medium) {
            margin-top: rem-calc(40);
        }
    }
     .footer-menu {
        font-size: rem-calc(12);
        li {
            margin: 0 rem-calc(10);
        }
    }
    .social {
        font-size: rem-calc(20);
        > li > a {
            padding: rem-calc(12);
        }
    }
    .footer-right {
        @include grid-column;
        margin-top: rem-calc(20);
        text-align: center;
        @include breakpoint(medium) {
            @include grid-column(3);
            margin-top: 0;
            text-align: right;
        }
        p {
            line-height: 1.35;
        }
    }
}